Community/Community/modernflows/e9372af8-a25d-f011-bec1-7c1e5219079a/worddoc-E9372AF8-A25D-F011-BEC1-7C1E5219079A.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedonedriveforbusiness_16590"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwordonlinebusiness_9063b"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f23632df-9b4c-4709-887d-76b5b9103529"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Input",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8b23a3b7-9876-454f-b7ee-4cf49196d7eb"
          },
          "type": "Compose",
          "inputs": "a"
        },
        "HTTP": {
          "runAfter": {
            "Create_a_Microsoft_Word_document_with_the_given_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3f2a7a05-392f-4409-acca-97e0e9b7ea71"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "@body('Create_a_Microsoft_Word_document_with_the_given_content')"
          }
        },
        "Create_file": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49a11314-6bb9-47e2-b1cc-260131df17a8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
              "name": "Test@{utcNow()}.docx",
              "body": "@body('HTTP')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_a_Microsoft_Word_document_with_the_given_content": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7639499b-8678-44e5-b23e-729a62dff2c8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness",
              "operationId": "CreateWordFileWithContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "content/content": "This is test document with content : @{triggerBody()['text']}",
              "fileName": "@triggerBody()['text']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}